<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>give up</title>
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="jumbotron">
      <h1 class="display-4">This was a tough one</h1>
      <p class="lead">No Luck today, but keep your head up! You'll get it tomorrow!</p>
      <hr class="my-4">
      <p>the correct answer was: {answer}</p>
      <a class="btn btn-primary btn-lg" href="\" role="button"> Back Home</a>
    </div>
</body>
</html>